<%= form_tag do %>
	<div class="login-box">
		<a href="/"><%= image_tag 'logo.svg', {:width => 80, :height => 80} %></a>
		<h1>Onions<span class="io">.io</span></h1>
		<% if params[:AccountExists] %>
			<p>An account with that email already exists!</p>
		<% end %>
		<div class="form-container">
			<div class="form-email">
				<%= text_field 'register', 'User', {:placeholder => 'Username', :autofocus => "", :class => "w-input", :type => "text"} %>
			</div>
			<div class="form-email">
				<%= text_field 'register', 'Pass', {:placeholder => 'Password', :class => 'w-input', :type => 'password'} %>
			</div>
		</div>
		<%= submit_tag('REGISTER', :class=>'button') %>
		<p class="subtext">Because we don't keep track of emails or any personal information, this password is known to you and to you alone. We have no way of recovering or resetting it. In other words, don't forget your ticket.</p>
		<div class="main-link"><a href="/about">About Onions</a></div>
	</div>
<% end %>